html, body {
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Segoe UI", Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}

#map {
    position: relative;
    width: 100%;
    flex: 1;
    }   

.tooltip-cuenca{
    background:transparent;
    border: none;
    box-shadow: none;
    color:navy;
    font-size: 16px;    
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    } 

    #Convenciones{
        position: absolute;
        top: 410px;
        right: 20px;
        background: white;
        padding: 10px;
        z-index: 9999;
        border-radius: 8px;
        box-shadow: 0 2px 4px gray;
        width: 180px; 
        max-height: 350px;
        overflow-y: auto;
          }
        
    #Convenciones h3{
        text-align: center;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
    }

    #Convenciones {
        display: none;
    }
    
    #panel-capas{
        position: absolute;
        top: 120px;
        right: 20px;
        background: LIGHTGRAY;
        padding: 10px;
        z-index: 1000;
        border-radius: 8px;
        box-shadow: 0 2px 4px gray;
        width: 180px;
        
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 16px;
        text-align: left;
        font-weight: notmal;
    }

    #panel-capas h3 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    #panel-capas label {
        font-size: 14px;
        font-weight: normal;
    }
    
    
    #panel-capas h4 {
        margin-top: 0;
           }
    
    .tooltip-vereda{
        background:transparent;
        border: none;
        box-shadow: none;
        color:black;
        font-size: 16px;    
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 2px white;
    }

    #encabezado {
       height: 120px;
       display: flex;
       align-items: center;
       justify-content: center;
       position: relative;
       background: rgba(191, 247, 191, 0.219);
       
          }
    
    #titulo{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    
        }

   
    #titulo h1 {
    background: transparent;
    margin: 15px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: clamp(22px, 2.5vw, 32px);
    line-height: 1.1;
    color: #13013f;  
    
}
    #datos{
        display: flex;
        justify-content: center;
        gap: 40px;
        font-family: "Segoe UI", Arial, sans-serif;
        margin: top 5px;
        font-size: 15px;
    }

    #logo {
        width: 130px;
        height: auto;
        position: absolute;
        left: 25px;
        top: 10px;
        z-index: 1000
        }

       
    .leaflet-bottom.leaflet-left{
        /* small offset to ensure controls don't touch the edge */
        left: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        pointer-events: none;
        }
    .leaflet-bottom.leaflet-bottom.leaflet-left .leaflet-control{pointer-events: auto;}
    
    .item-leyenda{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
  .color{
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid #000;
  }

  .muy-alta{background: red;}
  .alta{background: orange;}
  .moderada{background: yellow;}
  .baja{background: darkgreen;}
  .muy-baja{background: lightgreen;}

  #cabecera-capas{
    display: flex;
    justify-content:space-between;
    align-items:center;
  }
  #btncapas{
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;

  }
@media (max-width: 768px) {

    #encabezado{
        height: 110x;
        padding: 5px;
        position: relative;
    }
    #logo {width: 55px;
    left: 10px;
    top:10px;

    }
    #titulo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100%-60px);
        top:8px;
        font-size: 14px;
        text-align: center;
    }
    #titulo h1{
        font-size: 18px;
        margin:0;

    }

    #titulo h2{
        font-size: 14px;
        margin:3px 0;
    }

    #panel-capas {
        top:140px;
        right: 10px;
        width:150px;
        font-size: 13px;
        padding: 8px;
        max-height: 180px;
        overflow-y: auto;
    }

    #Convenciones{
        top:340px;
        right: 10px;
        width:150px;
        max-height: 180px;
        overflow-y: auto;
    }

    #datos {
        font-size:10px;
        margin-top: 4px;
        display:block;
        line-height: 1.2;
        white-space: normal;
        width:100%;
        text-align: center;
    }

    #contenido-capas{
        display: none;
    }

    #contenido-capas.mostrar{
        display: block;
    }

    #Consulta-territorial {
        position: fixed;
        bottom: 10px;
        left: 10px;
        width: calc(100%-20px); 
        max-width: 280px;
        max-height: 45vh;

        overflow-y: auto;
        overflow-x: hidden;
        padding: 8px;
        box-sizing: border-box;

        background-color: white;
        opacity:1;
             
        border-radius: 10px;
        box-shadow: 0 2px 8px gray;
      
        z-index: 999999   ;
        font-family: "Segoe UI", Arial, sans-serif;
          touch-action:pan-y;
    -webkit-overflow-scrolling: touch;
    }

    #Consulta-territorial h3 {
        font-size: 19px;
        margin-top: 0;
        margin-bottom: 6px;
        text-align: center;
    }



#consulta-territorial p{
    margin: 6px 0;
    font-size: 13px;
}

#Consulta-territorial {
    touch-action: auto;
}
}